{
    "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-do-expressions",
        "flow-react-proptypes",
        ["relay", {
            "schema": "../server-graphql/data/schema.graphql"
        }],
        "syntax-dynamic-import",
        ["module-resolver", {
            "root": ["./window", "./app"],
            "alias": {
                "actions": "./actions",
                "components": "./components",
                "utils": "./utils",
                "store": "./store"
            }
        }]
    ],
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "chrome": 56
            }
        }],
        "react"
    ]
}
