{
    "plugins": [
        "react-hot-loader/babel",
        "flow-react-proptypes"
    ],
    "presets": [
        ["env", {
            "modules": false
        }],
        "react",
        "stage-0"
    ]
}
