.message {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin: 8px 16px;

    .avatar {
        margin-right: 8px;
        align-self: flex-end;
    }

    .bubble {
        flex: 1;
        padding: 16px;

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: flex-end;

        &.incoming {
            background: #efefef;
            margin-right: 40px;
            border-bottom-right-radius: 15px;

            .content {
                color: #191a1b;
            }

            .time {
                color: #979797;
            }
        }

        &.outgoing {
            background: #00bcd4;
            margin-left: 88px;
            border-bottom-left-radius: 15px;

            .content {
                color: #fff;
            }

            .time {
                color: rgba(255, 255, 255, .6);
            }
        }

        p {
            margin: 0;
        }

        img {
            width: 100%;
        }

        .time {
            margin-right: 8px;
            align-self: flex-end;;
        }
    }
}
